<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.jordicurto.autochecker">

    <!--
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".AutoCheckerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_full"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.AutoCheckerMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".receiver.AutoCheckerBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="GEOFENCE_TRANSITION_RECEIVED" />
                <action android:name="GEOFENCE_TRANSITION_CONFIRM_RECEIVED" />
                <action android:name="LOCATIONS_ACTIVITY_FIRST_RUN" />
                <action android:name="INTENT_PERMISSION_GRANTED" />
                <action android:name="INTENT_REQUEST_REGISTER_GEOFENCES" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.AutoCheckerSettingsActivity"
            android:label="@string/title_activity_auto_checker_settings"
            android:parentActivityName=".activity.AutoCheckerMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.jordicurto.autochecker.activity.AutoCheckerMainActivity" />
        </activity>
    </application>

</manifest>