<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.jordicurto.autochecker">

    <!--
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    -->
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name=".AutoCheckerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name_full"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <receiver
            android:name=".receiver.AutoCheckerBootBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.AutoCheckerGeofencingReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="INTENT_START_RECEIVER" />
                <action android:name="INTENT_SYSTEM_SHUTDOWN" />
                <action android:name="INTENT_REQUEST_CHECK_LOCATION" />
                <action android:name="INTENT_PERMISSION_GRANTED" />
                <action android:name="INTENT_REQUEST_REGISTER_GEOFENCES" />
                <action android:name="INTENT_FORCE_LEAVE_LOCATION" />
                <action android:name="INTENT_CANCEL_LEAVE_LOCATION" />
                <action android:name="GEOFENCE_TRANSITION_RECEIVED" />
                <action android:name="GEOFENCE_TRANSITION_CONFIRM_RECEIVED" />
                <action android:name="ALARM_FORCE_LEAVE_LOCATION" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.AutoCheckerIntentService"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.AutoCheckerMainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.AutoCheckerSettingsActivity"
            android:label="@string/title_activity_auto_checker_settings"
            android:parentActivityName=".activity.AutoCheckerMainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.jordicurto.autochecker.activity.AutoCheckerMainActivity" />
        </activity>
        <activity android:name=".util.PermissionHelper$PermissionRequestActivity" />
    </application>

</manifest>